/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 75%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}